@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #f9ca36;
  font-family: "Source Sans 3", sans-serif;
  background-color: #2d04c6;
}

input {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea,
input,
button:focus {
  outline: none;
}

button {
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.29em;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
  letter-spacing: 0.15em;
  line-height: 1.14em;
}

a {
  line-height: 1.29em;
  text-decoration: none;
  color: inherit;
}

textarea {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  resize: none;
}

.container {
  width: 1156px;
  margin: 0 auto;
}

.logo {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  display: block;
}

.logo img {
  display: block;
}

.btn {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}

.btn_primary {
  color: #f930b0;
  background-color: #f9d330;
  line-height: 1.29em;
  letter-spacing: 0.135em;
  padding: 15px 24px 12px;
  font-weight: 600;
  font-size: 29px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn_primary:hover {
  background-color: #efc307;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.first-title {
  font-size: 46px;
  letter-spacing: 0.165em;
}

.second-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.165em;
  font-size: 38px;
}

.nft {
  margin-right: 1px;
  font-size: 1.1em;
}

.header {
  padding: 32px 0;
  background-color: #06ac3c;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 0;
}

.menu__wrapper {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #06ac3c;
}

.menu__link {
  letter-spacing: 0.195em;
  border-bottom: 1px solid rgba(249, 202, 54, 0);
}

.menu__link:hover {
  border-bottom: 1px solid #f9ca36;
}

.welcome {
  padding: 130px 0 136px;
  background-color: #f930b0;
  text-align: center;
}

.welcome__title {
  font-weight: 600;
  line-height: 1.29em;
  letter-spacing: 0.16em;
  font-size: 54px;
}

.welcome__btn {
  margin: 0 auto;
}

.welcome__text {
  margin: 26px 0 118px;
  font-size: 29px;
  letter-spacing: 0.195em;
}

.welcome__text span {
  font-weight: 900;
}

.coll {
  background-color: #f9d330;
}

.coll__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f930b0;
  padding-bottom: 42px;
  margin-bottom: 39px;
}

.coll__inner_2 {
  margin-top: auto;
}

.coll__title {
  margin: 75px 0 59px;
}

.coll__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 166px 166px;
  grid-template-columns: 166px 166px;
  gap: 31px 26px;
}

.coll__item {
  height: 166px;
}

.coll__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.coll__text {
  padding: 25px;
  background-color: #f930b0;
  letter-spacing: 0.14em;
}

.coll__text:nth-child(1) {
  height: 192px;
}

.coll__text:nth-child(3) {
  height: 120px;
}

.coll__text:not(:last-child) {
  margin-bottom: 14px;
}

.util {
  background-color: #42c7d1;
}

.util__subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: 0.145em;
}

.util__inner {
  padding: 20px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #8812c6;
}

.util__inner_1 {
  max-height: 234px;
}

.util__title {
  color: #8812c6;
  background-color: #f9d330;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  padding: 70px 50px 34px;
}

.util__btn {
  max-width: none;
  width: 246px;
  font-size: 22px;
  margin: 38px 0;
}

.util p {
  color: #42c7d1;
}

.map {
  padding-bottom: 66px;
  background-color: #8812c6;
  color: #2d04c6;
  overflow: hidden;
}

.map__title {
  padding: 61px 0 9px;
  color: #8812c6;
  background-color: #42c7d1;
  text-align: center;
  margin-bottom: 60px;
}

.map__img {
  width: 350px;
  height: 100%;
  margin-left: auto;
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.map__text {
  position: relative;
  width: 300%;
  margin-left: -200%;
  text-align: right;
  padding: 33px 0 35px;
  background-color: #42c7d1;
  min-height: 90px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.map__text_big {
  padding: 15px 0;
}

.map__text_med {
  min-height: 0;
  padding: 16px 0;
}

.map__text span {
  position: relative;
  z-index: 1;
}

.map__text::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: -100px;
  z-index: 0;
  background-color: #42c7d1;
}

.map__text:not(:last-child) {
  margin-bottom: 30px;
}

.team {
  color: #42c7d1;
}

.team__title {
  color: #42c7d1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  padding-left: 38px;
  padding-right: 38px;
  background-color: #8812c6;
  margin-bottom: 158px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  text-align: right;
}

.team__text {
  font-size: 21px;
  letter-spacing: 0.235em;
  margin-bottom: 4px;
}

.team__subtext {
  letter-spacing: 0.235em;
  font-size: 21px;
}

.team__img {
  margin-bottom: 22px;
}

.team__img img {
  display: block;
  width: 219px;
  height: 241px;
}

.footer {
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  z-index: 100;
  bottom: 0;
  background-color: #2d04c6;
  padding: 30px 0 40px;
  margin-top: 50px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 32px 0px 40px;
}

.footer__title {
  font-size: 40px;
  letter-spacing: 0.175em;
  font-weight: 600;
}

.footer__item:not(:last-child) {
  margin-right: 28px;
}

.footer__text {
  font-size: 16px;
}

.footer__link {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link img {
  display: block;
}

@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
  .util__inner_1 {
    max-height: 370px;
  }
  .wrapper {
    gap: 50px;
  }
  .coll__text:nth-child(1) {
    height: auto;
  }
  .map__text {
    width: auto;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  .map__text::before {
    right: auto;
    left: -100px;
  }
  .map__text br {
    display: none;
  }
}

@media (max-width: 850px) {
  .container {
    width: 600px;
  }
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .coll__title {
    margin: 35px 0 30px;
  }
  .coll__inner {
    margin-bottom: 0;
  }
  .welcome {
    padding: 70px 0;
  }
  .welcome__text {
    margin-bottom: 30px;
  }
  .welcome__title {
    font-size: 40px;
  }
  .team__title {
    margin-bottom: 70px;
  }
  .footer {
    margin-top: 50px;
    padding: 15px 0 20px;
  }
  .footer__list {
    margin: 16px 0px 24px;
  }
  .footer__title {
    font-size: 20px;
  }
  .map__text {
    text-align: center;
  }
  .map__text::before {
    display: none;
  }
  .map__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .map__img {
    margin: 0 auto;
  }
  .header {
    padding: 16px 0 0;
  }
  .logo {
    max-width: 90px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 500px;
  }
  .menu__link {
    letter-spacing: 0.1em;
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  body {
    font-size: 18px;
  }
  .map__text {
    padding: 20px 15px;
    min-height: auto;
  }
  .first-title {
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 30px;
    max-width: none;
  }
  .second-title {
    padding-top: 30px;
    padding-bottom: 9px;
    font-size: 30px;
  }
  .menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu__item {
    text-align: center;
    width: 50%;
  }
  .coll__grid {
    gap: 15px;
    -ms-grid-columns: 150px 150px;
    grid-template-columns: 150px 150px;
  }
  .coll__item {
    height: 150px;
  }
  .coll__title {
    margin: 0;
    margin-bottom: 10px;
  }
  .welcome {
    padding: 50px 0;
  }
  .welcome__title {
    font-size: 30px;
  }
  .welcome__text {
    font-size: 20px;
  }
  .welcome__btn {
    font-size: 20px;
  }
  .util__btn {
    margin: 20px 0;
  }
  .util__subtitle {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .map {
    padding-bottom: 20px;
  }
  .map__img {
    height: 100%;
    width: 100%;
  }
  .coll__grid {
    -ms-grid-columns: 140px 140px;
    grid-template-columns: 140px 140px;
  }
  .menu__link {
    font-size: 16px;
  }
  .coll__text {
    padding: 18px;
  }
  .footer {
    margin-top: 20px;
  }
  .footer__link img {
    width: 80%;
    height: 80%;
  }
  .util__btn {
    width: 100%;
  }
  .util__inner {
    padding: 20px 20px;
  }
}
button.my-custom-crossmint-button {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #f9ca36;
  color: #f930b0;
  font-size: 16px;
  font-weight: bold;
}
